/*===FAREBN===*/

:root{
    --light: #8c8cff;
    --dark: #2e2e52;
    --hover: #fff;
    --beton: #fff;
    --Hintergund: #8c8cffc0;
}

/*===FAREBN===*/

/*===FONTS===*/

@font-face {
    font-family: myfont;
    src: url(../fonts/F25_Bank_Printer.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/F25_Bank_Printer_Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

/*===FONTS===*/


/*===GENERELLES===*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkmode{
    --light: #2e2e52;
    --dark: #8c8cff;
    --hover: #5a5aa5;
    --Hintergund: #2e2e528c;
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: myfont, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    position: relative;
}

body::-webkit-scrollbar{
    width: 0;
}

/*===GENERELLES===*/

/*===NAVIGATION===*/

#navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    border-bottom: 4px solid var(--dark);
    z-index: 2;
    transition: background-color 1s;
}

li{
    margin: 1rem;
    padding: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

li:first-child{
    margin-right: auto;
}

li > .dropdown_project{
    padding: 0;
    list-style: none;
    position: absolute;
    top: 50px;
    left: 0px;
    display: block;
    text-align: center;
    width: 100%;
    height: 0px;
    background-color: var(--light);
    color: var(--dark);
    border: 0px solid var(--dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    transition: all 1s;
}

li > .show_dropdown_project{
    padding: 0.5rem;
    height: 100px;
    border: 2px solid var(--dark);
    border-top: none;
    transition: all 1s;
}

li > ul > li{
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

li #drop_span:visited,
li a:visited{
    text-decoration: none;
    color: var(--dark);
}

li a{
    text-decoration: none;
    color: var(--dark);
}

li #drop_span:hover,
li a:hover{
    cursor: pointer;
    text-decoration: none;
    color: var(--hover);
    border-bottom: 3px solid var(--dark);
    transition: color 1s;
}

li #drop_span:active,
li a:active{
    text-decoration: none;
    color: var(--dark);
    border-bottom: 3px solid var(--dark);
}

#caption a,
#caption a:hover,
#caption a:active{
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
}

/*===DROPDOWN===*/

.navigation_dropdown{
    list-style: none;
    width: 100%;
    height: 82px;
    display: none;
    justify-content: flex-end;
    background-color: var(--light);
    color: var(--dark);
    border-bottom: 4px solid var(--dark);
    position: relative;
    overflow: hidden;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: background-color 1s;
}

.show_navigation_dropdown{
    height: 100%;
    transition: all 1s;
}

.navigation_dropdown .material-symbols-outlined{
    font-weight: bold;
    font-size: 2rem;
}

.navigation_dropdown .material-symbols-outlined:hover{
    color: var(--hover);
    cursor: pointer;
}

.navigation_dropdown .material-symbols-outlined:active{
    color: var(--dark);
    cursor: pointer;
}


.navigation_dropdown > li:last-child{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
}

.navigation_dropdown_menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation_dropdown_menu > li{
    text-align: center;
    padding: 0;
    padding: 0.5rem;
    margin: 0;
    margin: 1rem;
    font-size: 1.5rem;
}

.navigation_dropdown_menu .dropdown_project{
    position: relative;
    top: 30px;
    height: 0px;
    transition: all 1s;
}

.navigation_dropdown_menu .dropdown_project > li{
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navigation_dropdown_menu .show_dropdown_project{
    border: 2px solid var(--dark);
    border-radius: 1rem;
    height: 150px;
    transition: all 1s;
}
/*===DROPDOWN===*/


@media (max-width: 768px) {
    #navigation{
        display: none;
    }

    .navigation_dropdown{
        display: flex;
    }
}

/*===NAVIGATION===*/

/*===MAIN-CONTAINER===*/

.scroll{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 0;
}

.scroll > .haupt_container{
    width: 100%;
    min-height: 100%;
    background-color: var(--Hintergund);
    border-bottom: 4px solid var(--dark);
    transition: background-color 1s;
}

/*===MAIN-CONTAINER===*/

/*===DARKMODE-CONTAINER===*/

.darkmode-container{
    position: fixed;
    top: 100px;
    right: 20px;
    width: 32px;
    height: 33px;
    border: 2px solid var(--dark);
    border-radius: 2rem;
    z-index: 1;
}

.darkmode-container > #button{
    width: 25px;
    height: 90%;
    background-color: var(--dark);
    border-radius: 100%;
    margin: 0.1rem;
    padding: 0.05rem;
    position: absolute;
    left: 0px;
    top: 0px;
    color: var(--light);
    transition: left 1s;
}

.darkmode-container > #button:hover{
    cursor: pointer;
}

.darkmode-container > #button > .material-symbols-outlined{
    font-weight: bold;
}

/*===DARKMODE-CONTAINER===*/

/*===HOME===*/

@keyframes smile_home {
    0%{transform: rotate(0); color: var(--light);}
    50%{transform: rotateX(360deg);}
    100%{transform: rotateY(180deg); color: var(--beton);}
}

#home{
    display: flex;
}

#home > #vorstellung{
    text-align: center;
    font-size: 1.3rem;
    padding-top: 4rem;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#home > #vorstellung > h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home > #vorstellung > h3 > .material-symbols-outlined{
    font-size: 3rem;
    color: var(--beton);
    background-color: var(--dark);
    border-radius: 100%;
    animation: smile_home 5s infinite;
    animation-delay: 1s;
    margin-left: 1rem;
    box-shadow: 0 0 1rem var(--beton);
}

#home > #vorstellung > #profilbild{
    width: 300px;
    height: 300px;
    background-color: var(--dark);
    border: 3px solid var(--hover);
    border-radius: 100%;
    box-shadow: 0 0 2rem var(--hover);
}

#home > #vorstellung > #profilbild > img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#home > #vorstellung > p{
    width: 80%;
    line-height: 2rem;
}

#home > #vorstellung > p > .betonen{
    color: var(--beton);
    box-shadow: 0 0 1rem var(--dark);
}

#home > #vorstellung > #link_github{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#home > #vorstellung > #link_github > a:visited{
    background-color: var(--dark);
    border: 3px solid var(--dark);
    text-decoration: none;
    color: var(--hover);
} 

#home > #vorstellung > #link_github > a{
    padding: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: var(--dark);
    border: 3px solid var(--dark);
    text-decoration: none;
    color: var(--hover);
    border-radius: 1rem;
    transition: color 0.5s, box-shadow 0.5s;
}
#home > #vorstellung > #link_github > a:hover{
    cursor: pointer;
    text-decoration: none;
    color: var(--light);
    border: 3px solid var(--hover);
    box-shadow: 0 0 2rem var(--hover);
    transition: color 0.5s, box-shadow 0.5s;
} 
#home > #vorstellung > #link_github > a:active{
    background-color: var(--hover);
    color: var(--light);
} 

@media (max-width:1024px) {
    #home > #vorstellung{
        font-size: 1.1rem;
    }

    #home > #vorstellung > #profilbild{
        width: 200px;
        height: 200px;
    }

    #home > #vorstellung > #link_github > a{
        padding: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.5rem;
    }
}

#home > #daten{
    width: 40%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home > #daten > .daten_container{
    padding: 0.5rem;
    margin: 1rem;
    width: 20rem;
    height: 18rem;
    background-color: var(--dark);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 4px solid var(--hover);
    box-shadow: 0 0  3rem var(--dark);
}

.daten_container > .skill_container{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}


.daten_container > .skill_container > .material-symbols-outlined{
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
}

.daten_container > .skill_container > #html{background-color: #ff4d00;}
.daten_container > .skill_container > #html_skill_span{ color:#ff4d00;}

.daten_container > .skill_container > #css{background-color: #000089;}
.daten_container > .skill_container > #css_skill_span{color: #000089;}

.daten_container > .skill_container > #js{background-color: #cccc00;}
.daten_container > .skill_container > #js_skill_span{color: #cccc00;}

.daten_container > .skill_container > #git{background-color: #ff0000;}
.daten_container > .skill_container > #git_skill_span{ color: #ff0000;}

.daten_container > .skill_container > .description{
    background-color: #000089;
    color: var(--beton);
    font-weight: normal;
    border-radius: 100%;
    padding: 0.5rem;
}
/*===HOME===*/