/*===FAREBN===*/

:root{
    --font: #072A40;
    --light: #FAF7EF;
    --dark: #188CA5;
    --beton: #19B7BD;
    --Hintergrund: #FAF7EF;
}

/*===FAREBN===*/

/*===FONTS===*/

@font-face {
    font-family: myfont;
    src: url(../fonts/F25_Bank_Printer.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/F25_Bank_Printer_Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

/*===FONTS===*/


/*===GENERELLES===*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkmode{
    --light: #FAF7EF;
    --dark: #072A40;
    --font: #188CA5;
    --beton: #19B7BD;
    --Hintergrund: #31302f;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: myfont, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}
